---
import Donation from "../components/Donation.astro";
import Layout from "../layouts/Layout.astro";

import donationsJson from "../../donations.json";

const donations = donationsJson.sort((a, b) => {
  return b.amount - a.amount;
});
---

<Layout title="Thank you, Chat!">
  <!-- esthe the goat fr -->
  <main>
    <header class="flex flex-col gap-1 w-full justify-center p-5">
      <h1
        class="text-white py-3 m-auto w-fit text-6xl font-bold bg-gradient-to-r bg-clip-text"
      >
        Thank you,
        <span class="text-pink-300">Chat</span>!
      </h1>
      <p class="text-zinc-200 text-lg m-auto w-fit">
        With the help of your donations we could raise <a
          class="text-blue-300"
          href="https://twitter.com/stylesttv/status/1594413004766183429"
          target="_blank">$2,720</a
        > and have a serious impact on
        <a
          class="text-blue-300"
          href="https://twitter.com/ashtonsfilms"
          target="_blank">Ash</a
        >'s Life!
      </p>
    </header>
    <article
      class="flex flex-col gap-5 justify-center m-auto mt-10 w-[85vw] md:w-[70vw] xl:w-[60vw]"
    >
      <h2 class="w-fit m-auto text-2xl font-semibold text-blue-200">
        Special Thanks to:
      </h2>
      <div class="flex flex-col xl:flex-col m-auto gap-5 w-full">
        <div class="h-24 w-full min-[500px]:w-[70%] xl:w-[40%] mx-auto">
          <Donation {...donations[0]} />
        </div>
        <div
          class="flex flex-col min-[500px]:flex-row gap-5 w-full xl:w-[70%] m-auto"
        >
          <Donation {...donations[1]} />
          <Donation {...donations[2]} />
        </div>
      </div>
    </article>
    <article
      class="flex flex-col w-[85vw] md:w-[70vw] xl:w-[60vw] m-auto gap-3 min-[500px]:gap-5 py-5"
    >
      <h3 class="w-fit m-auto text-xl font-semibold text-blue-200 my-3">
        And Thank you to everyone else who donated:
      </h3>
      <div
        class="grid grid-cols-1 min-[500px]:grid-cols-2 gap-3 min-[500px]:gap-5 w-full xl:w-[70%] m-auto"
      >
        {donations.slice(3).map((donation) => <Donation {...donation} />)}
      </div>
    </article>
  </main>
  <footer class="flex bottom-0 justify-center p-5 text-zinc-400">
    <p>
      Made with ❤️ by <a
        class="text-violet-400"
        href="https://twitter.com/StckOverflw"
        target="_blank">@StckOverflw</a
      >
    </p>
  </footer>
</Layout>

<script lang="js">
  const handleMouseMove = (e) => {
    const { currentTarget: target } = e;

    const rect = target.getBoundingClientRect(),
      x = e.clientX - rect.left,
      y = e.clientY - rect.top;

    target.style.setProperty("--mouse-x", `${x}px`);
    target.style.setProperty("--mouse-y", `${y}px`);
  };

  for (const card of document.querySelectorAll(".card")) {
    card.onmousemove = (e) => handleMouseMove(e);
  }
</script>
