---
export interface Props {
  name: string;
  amount: number;
}

const { name, amount } = Astro.props;
---

<div
  class="card flex flex-col bg-zinc-900 rounded-md align-middle px-5 border-zinc-700 hover:border-zinc-600 border-solid border-[1px] h-24 w-full"
>
  <div class="flex flex-row gap-2 align-middle mt-auto">
    <h3 class="text-lg font-bold my-auto text-violet-300">{name}</h3>
  </div>
  <p class="text-md font-semibold text-zinc-300 mb-auto">${amount}</p>
</div>

<style>
  .card {
    position: relative;
    cursor: auto;
    transition: colors 200ms;
  }
  .card:hover::before {
    opacity: 1;
  }
  .card::before {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.09),
      transparent 40%
    );
    opacity: 0;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    transition: opacity 300ms;
  }
</style>
