---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta
      name="description"
      content={"With the help of your donations we could raise $2,720 and have a serious impact on Ash's Life"}
    />
    <meta name="robots" content="noindex" />

    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={"Thank you, Chat!"} />
    <meta
      property="og:description"
      content={"With the help of your donations we could raise $2,720 and have a serious impact on Ash's Life"}
    />
    <meta property="og:site_name" content="Thank you, Chat!" />
    <meta property="og:image" content="/favicon.webp" />
    <meta property="og:url" content="https://thankyouchat.live" />

    <meta name="theme-color" content="#93c5fd" />

    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <title>{title}</title>
  </head>
  <body class="bg-black min-h-full text-white">
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
